Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/api/
  frontend:
    paths:
      - src/frontend/

docs: refactor CLAUDE.md into folder-specific guides (v5.0.0)
  .github/CLAUDE.md
  CHANGELOG.md
  CLAUDE.md
  database/CLAUDE.md
  docs/CLAUDE.md
  docs/INDEX.md
  docs/architecture/CLAUDE.md
  docs/development/CLAUDE.md
  docs/development/CLAUDE_CODE_GUIDE.md
  docs/development/DEBUGGING_GUIDE.md
  docs/development/LOCAL_DEVELOPMENT_SETUP.md
  docs/development/MODULE_EXTRACTION_QUICKSTART.md
  docs/development/TESTING_WITH_PLAYWRIGHT.md
  docs/security/CLAUDE.md
  infrastructure/CLAUDE.md
  src/api/CLAUDE.md
  src/frontend/CLAUDE.md
Due: backend, frontend

docs(architecture): add comprehensive modular .NET architecture guide
  docs/architecture/MODULAR-DOTNET-HOTCHOCOLATE-GUIDE.md
Due: none

docs(architecture): improve markdown formatting in modular .NET guide
  docs/architecture/MODULAR-DOTNET-HOTCHOCOLATE-GUIDE.md
Due: none

fix(build): resolve XML documentation errors and suppress CS1591 warnings
  src/api/Directory.Build.props
  src/api/FamilyHub.Infrastructure/GraphQL/Filters/GraphQLErrorFilter.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Interceptors/GraphQLLoggingInterceptor.cs
  src/api/FamilyHub.SharedKernel/Application/Behaviors/LoggingBehavior.cs
  src/api/FamilyHub.SharedKernel/Domain/AggregateRoot.cs
  src/api/FamilyHub.SharedKernel/Domain/Entity.cs
  src/api/FamilyHub.SharedKernel/Domain/ITimestampable.cs
  src/api/FamilyHub.SharedKernel/Domain/Result.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/FamilyId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/InvitationId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/UserId.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/BaseError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/BusinessError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/InternalServerError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/UnauthorizedError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/ValidationError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/ValueObjectError.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CreateFamilyPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/HealthQueries.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailResult.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Services/FamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/ValueObjects/InvitationStatus.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Types/FamilyType.cs
Due: backend

docs(architecture): add comprehensive modular .NET architecture guide (#79)
  docs/architecture/MODULAR-DOTNET-HOTCHOCOLATE-GUIDE.md
  src/api/Directory.Build.props
  src/api/FamilyHub.Infrastructure/GraphQL/Filters/GraphQLErrorFilter.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Interceptors/GraphQLLoggingInterceptor.cs
  src/api/FamilyHub.SharedKernel/Application/Behaviors/LoggingBehavior.cs
  src/api/FamilyHub.SharedKernel/Domain/AggregateRoot.cs
  src/api/FamilyHub.SharedKernel/Domain/Entity.cs
  src/api/FamilyHub.SharedKernel/Domain/ITimestampable.cs
  src/api/FamilyHub.SharedKernel/Domain/Result.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/FamilyId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/InvitationId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/UserId.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/BaseError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/BusinessError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/InternalServerError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/UnauthorizedError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/ValidationError.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Errors/ValueObjectError.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CreateFamilyPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/HealthQueries.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailResult.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Services/FamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/ValueObjects/InvitationStatus.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Types/FamilyType.cs
Due: backend

refactor(persistence): extract FamilyDbContext from AuthDbContext (#60)
  src/api/FamilyHub.SharedKernel/Application/Abstractions/IUserLookupService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/UserLookupService.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/GlobalUsings.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/AuthDbContext.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/FamilyMemberInvitationRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/FamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Abstractions/IFamilyUnitOfWork.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyUnitOfWork.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Migrations/20260111221759_CreateFamilySchema.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Migrations/FamilyDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/FamilyMemberInvitationRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/FamilyRepository.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/TimestampInterceptorTests.cs
Due: backend

feat(infrastructure): implement real RabbitMQ publisher with retry/DLQ/monitoring (#61)
  src/api/Directory.Packages.props
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.Infrastructure/FamilyHub.Infrastructure.csproj
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqHealthCheck.cs
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqPublisher.cs
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqServiceExtensions.cs
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqSettings.cs
  src/api/FamilyHub.SharedKernel/Interfaces/IRabbitMqPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/BackgroundServices/OutboxEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Messaging/IRabbitMqPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Messaging/StubRabbitMqPublisher.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqHealthCheckTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqPublisherTests.cs
Due: backend

refactor(middleware): extract middleware registration to module extensions (#62)
  docs/development/MIDDLEWARE_ORDER.md
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Middleware/PostgresRlsContextMiddleware.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
Due: backend

feat(testing): create k6 performance benchmarking suite (#63)
  .github/workflows/performance.yml
  docs/development/WORKFLOWS.md
  tests/performance/.gitignore
  tests/performance/README.md
  tests/performance/config/environments.js
  tests/performance/config/thresholds.js
  tests/performance/helpers/graphql.js
  tests/performance/results/.gitkeep
  tests/performance/scenarios/baseline.js
  tests/performance/scenarios/load.js
  tests/performance/scenarios/stress.js
Due: none

feat(graphql): implement DataLoader batch pattern for N+1 prevention (#64)
  docs/architecture/ADR-011-DATALOADER-PATTERN.md
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/DataLoaders/UserBatchDataLoader.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/DataLoaders/FamilyBatchDataLoader.cs
Due: backend

feat(graphql): implement GroupedDataLoader pattern for 1:N relationships (#65)
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/DataLoaders/UsersByFamilyGroupedDataLoader.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/DataLoaders/InvitationsByFamilyGroupedDataLoader.cs
Due: backend

feat(testing): implement NetArchTest architecture tests (#66)
  .github/workflows/ci.yml
  src/api/Directory.Packages.props
  src/api/FamilyHub.sln
  src/api/tests/FamilyHub.Tests.Architecture/CleanArchitectureTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/CqrsPatternTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/DddPatternTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/FamilyHub.Tests.Architecture.csproj
  src/api/tests/FamilyHub.Tests.Architecture/GlobalUsings.cs
  src/api/tests/FamilyHub.Tests.Architecture/ModuleBoundaryTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/NamingConventionTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/README.md
  src/api/tests/FamilyHub.Tests.Architecture/TestConstants.cs
Due: backend

refactor(graphql): complete GraphQL auto-discovery by removing redundant registrations (#67)
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
Due: backend

refactor(auth): enforce Anti-Corruption Layer in AcceptInvitation command (#68)
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandValidator.cs
  src/api/Modules/FamilyHub.Modules.Auth/GlobalUsings.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
Due: backend

test(infrastructure): add unit tests for DbContext, RabbitMQ, and Middleware (#69)
  src/api/tests/FamilyHub.Tests.Unit/Family/Persistence/Configurations/FamilyConfigurationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Persistence/Configurations/FamilyMemberInvitationConfigurationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Persistence/FamilyDbContextTests.cs
  src/api/tests/FamilyHub.Tests.Unit/FamilyHub.Tests.Unit.csproj
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RabbitMqHealthCheckUnitTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RabbitMqPublisherUnitTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RabbitMqSettingsTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Middleware/PostgresRlsContextMiddlewareTests.cs
  src/api/tests/FamilyHub.Tests.Unit/SharedKernel/Application/Behaviors/LoggingBehaviorTests.cs
Due: backend

test(integration): add infrastructure integration tests (#69)
  src/api/tests/FamilyHub.Tests.Integration/Family/Persistence/FamilyDbContextIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/FamilyDatabaseCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/FamilyPostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgresRlsMiddlewareIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqHealthCheckIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqPublisherIntegrationTests.cs
Due: backend

fix(auth): correct FamilyId nullability in UserConfiguration
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
Due: backend

test(dataloader): add unit tests for GraphQL DataLoaders (#70)
  src/api/tests/FamilyHub.Tests.Unit/Auth/Presentation/GraphQL/DataLoaders/UserBatchDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Presentation/GraphQL/DataLoaders/UsersByFamilyGroupedDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Builders/InvitationBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Builders/UserBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Presentation/GraphQL/DataLoaders/FamilyBatchDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Presentation/GraphQL/DataLoaders/InvitationsByFamilyGroupedDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Fixtures/DataLoaderTestFixture.cs
Due: backend

test(architecture): add negative tests and exception registry for NetArchTest rules (#71)
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/FamilyHub.Tests.Architecture.Fixtures.csproj
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Application/ApplicationDependingOnPersistence.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Application/ApplicationDependingOnPresentation.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Application/ApplicationService.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Domain/DomainDependingOnApplication.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Domain/DomainDependingOnPersistence.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Domain/DomainDependingOnPresentation.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Persistence/PersistenceService.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CleanArchitecture/Presentation/PresentationController.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CqrsPatterns/CommandNotImplementingIRequest.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CqrsPatterns/HandlerNotImplementingIRequestHandler.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CqrsPatterns/QueryNotImplementingIRequest.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/CqrsPatterns/ValidatorNotInheritingAbstractValidator.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/DddPatterns/AggregateNotInheritingBase.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/DddPatterns/DomainEventNotInheritingBase.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/DddPatterns/RepositoryImplementationInWrongNamespace.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/DddPatterns/RepositoryInterfaceInWrongNamespace.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/ModuleBoundary/AuthModuleType.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/ModuleBoundary/AuthViolatingFamily.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/ModuleBoundary/FamilyModuleType.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/ModuleBoundary/FamilyViolatingAuth.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/ModuleBoundary/SharedKernelViolatingModule.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/CommandWithoutCommandSuffix.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/EventWithoutEventSuffix.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/InputWithoutInputSuffix.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/InterfaceWithoutIPrefix.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/PayloadWithoutPayloadSuffix.cs
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/QueryWithoutQuerySuffix.cs
  src/api/tests/FamilyHub.Tests.Architecture/CleanArchitectureNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/CqrsPatternNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/DddPatternNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/FamilyHub.Tests.Architecture.csproj
  src/api/tests/FamilyHub.Tests.Architecture/Helpers/ArchitectureTestBase.cs
  src/api/tests/FamilyHub.Tests.Architecture/Helpers/ExceptionRegistry.cs
  src/api/tests/FamilyHub.Tests.Architecture/ModuleBoundaryExceptionTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/ModuleBoundaryNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/NamingConventionNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/README.md
Due: backend

test(integration): add comprehensive infrastructure integration tests (#72)
  src/api/tests/FamilyHub.Tests.Integration/Family/Persistence/FamilyDbContextIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/CrossDbContextConsistencyTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/DualSchemaCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/DualSchemaPostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/FamilyDbContextMigrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqDeadLetterQueueTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqRetryPolicyTests.cs
Due: backend

refactor(messaging): rename IRabbitMqPublisher to IMessageBrokerPublisher
  docs/architecture/MODULAR-DOTNET-HOTCHOCOLATE-GUIDE.md
  docs/development/CLAUDE.md
  docs/development/implementation-summaries/IMPLEMENTATION_PLAN_EPIC_24.md
  docs/development/implementation-summaries/OUTBOX_PATTERN_IMPLEMENTATION_SUMMARY.md
  src/api/CLAUDE.md
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqPublisher.cs
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqServiceExtensions.cs
  src/api/FamilyHub.SharedKernel/Interfaces/IMessageBrokerPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/BackgroundServices/OutboxEventPublisher.cs
Due: backend

refactor(messaging): add generic PublishAsync<TMessage> method to IMessageBrokerPublisher
  src/api/FamilyHub.Infrastructure/Messaging/RabbitMqPublisher.cs
  src/api/FamilyHub.SharedKernel/Interfaces/IMessageBrokerPublisher.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqPublisherIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RabbitMqPublisherUnitTests.cs
Due: backend

test(integration): add DataLoader query count integration tests (#73)
  src/api/tests/FamilyHub.Tests.Integration/DataLoaders/DataLoaderQueryCountTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/BulkTestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/DataLoaderQueryCountCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/QueryCountingInterceptor.cs
Due: backend

test(e2e): add GraphQL schema validation E2E tests (#74)
  src/frontend/family-hub-web/e2e/fixtures/schema.fixture.ts
  src/frontend/family-hub-web/e2e/support/constants.ts
  src/frontend/family-hub-web/e2e/support/schema-helpers.ts
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts
Due: frontend

test(performance): add k6 DataLoader benchmarks for N+1 prevention (#75)
  .github/workflows/performance.yml
  docs/development/WORKFLOWS.md
  src/api/FamilyHub.Api/Infrastructure/HeaderBasedCurrentUserService.cs
  src/api/FamilyHub.Api/Infrastructure/TestAuthorizationHandler.cs
  src/api/FamilyHub.Api/Program.cs
  tests/performance/README.md
  tests/performance/config/environments.js
  tests/performance/config/thresholds.js
  tests/performance/package.json
  tests/performance/scenarios/dataloader.js
  tests/performance/seed/dataloader-test-data.sql
Due: backend

docs(architecture): add ADRs for architecture changes (#76)
  docs/INDEX.md
  docs/architecture/ADR-007-FAMILY-DBCONTEXT-SEPARATION-STRATEGY.md
  docs/architecture/ADR-008-RABBITMQ-INTEGRATION-STRATEGY.md
  docs/architecture/ADR-009-MODULAR-MIDDLEWARE-COMPOSITION-PATTERN.md
  docs/architecture/ADR-010-PERFORMANCE-TESTING-STRATEGY.md
  docs/architecture/ADR-012-ARCHITECTURE-TESTING-STRATEGY.md
  docs/architecture/CLAUDE.md
Due: none

docs(architecture): add Family Hub examples to HotChocolate guide (#77)
  docs/architecture/MODULAR-DOTNET-HOTCHOCOLATE-GUIDE.md
Due: none

docs(development): add DataLoader, DbContext, and Architecture Test workflows (#78)
  docs/development/WORKFLOWS.md
Due: none

style: fix code formatting for CI compliance
  src/api/tests/FamilyHub.Tests.Architecture.Fixtures/Violations/NamingConventions/InterfaceWithoutIPrefix.cs
  src/api/tests/FamilyHub.Tests.Architecture/CqrsPatternNegativeTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/CqrsPatternTests.cs
  src/api/tests/FamilyHub.Tests.Architecture/GlobalUsings.cs
  src/api/tests/FamilyHub.Tests.Architecture/ModuleBoundaryExceptionTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/QueryCountingInterceptor.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqPublisherIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Middleware/PostgresRlsContextMiddlewareTests.cs
Due: backend

fix(test): resolve flaky DataLoader batching tests with ManualBatchScheduler
  src/api/tests/FamilyHub.Tests.Unit/Auth/Presentation/GraphQL/DataLoaders/UserBatchDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Presentation/GraphQL/DataLoaders/FamilyBatchDataLoaderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Fixtures/ManualBatchScheduler.cs
Due: backend

fix(ci): resolve import ordering and remove stale exception entry
  src/api/FamilyHub.SharedKernel/Domain/Specifications/OrderExpression.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/tests/FamilyHub.Tests.Architecture/Helpers/ExceptionRegistry.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RabbitMqPublisherIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Specifications/SharedKernel/CompositeSpecificationTests.cs
Due: backend

refactor(api): move test auth bypass to test infrastructure
  src/api/FamilyHub.Api/Infrastructure/TestAuthorizationHandler.cs
  src/api/FamilyHub.Api/Program.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/HeaderBasedCurrentUserService.cs
Due: backend

fix(test): resolve integration test failures with dual-DbContext architecture
  src/api/FamilyHub.Infrastructure/GraphQL/Interceptors/DefaultMutationErrorsInterceptor.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Services/FamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Integration/DataLoaders/DataLoaderQueryCountTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/ManualBatchScheduler.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/TimestampInterceptorTests.cs
Due: backend

test(unit): add missing validation tests for InviteFamilyMembersCommandHandler (#82)
  src/api/tests/FamilyHub.Tests.Unit/Family/Application/Commands/InviteFamilyMembersCommandHandlerTests.cs
Due: backend

feat(infrastructure): add SMTP email service with Razor templates (#83)
  src/api/Directory.Packages.props
  src/api/FamilyHub.Infrastructure/Email/EmailServiceExtensions.cs
  src/api/FamilyHub.Infrastructure/Email/IEmailService.cs
  src/api/FamilyHub.Infrastructure/Email/IEmailTemplateService.cs
  src/api/FamilyHub.Infrastructure/Email/Models/EmailMessage.cs
  src/api/FamilyHub.Infrastructure/Email/Models/InvitationEmailModel.cs
  src/api/FamilyHub.Infrastructure/Email/RazorEmailTemplateService.cs
  src/api/FamilyHub.Infrastructure/Email/SmtpEmailService.cs
  src/api/FamilyHub.Infrastructure/Email/SmtpHealthCheck.cs
  src/api/FamilyHub.Infrastructure/Email/SmtpSettings.cs
  src/api/FamilyHub.Infrastructure/Email/Templates/InvitationEmail.cshtml
  src/api/FamilyHub.Infrastructure/FamilyHub.Infrastructure.csproj
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/EmailOutboxId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/OutboxEventId.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/EmailOutbox.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Enums/EmailStatus.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Infrastructure/BackgroundServices/InvitationEmailService.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/EmailOutboxConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Migrations/20260114085918_AddEmailOutbox.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Migrations/FamilyDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/EmailOutboxRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/IEmailOutboxRepository.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Email/RazorEmailTemplateServiceTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Email/SmtpSettingsTests.cs
Due: backend

test(integration): add comprehensive email integration tests (#83)
  src/api/FamilyHub.Infrastructure/Email/SmtpEmailService.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailServiceIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Persistence/EmailOutboxRepositoryIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/SmtpEmailServiceIntegrationTests.cs
Due: backend
