Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/api/
  frontend:
    paths:
      - src/frontend/

feat(api): register email services and SMTP health check (#83)
  src/api/FamilyHub.Api/Program.cs
Due: backend

feat(subscriptions): implement GraphQL subscriptions with Redis PubSub (#84)
  docs/development/GRAPHQL_SUBSCRIPTIONS_IMPLEMENTATION_SUMMARY.md
  docs/development/MANUAL_TESTING_GRAPHQL_SUBSCRIPTIONS.md
  infrastructure/CLAUDE.md
  infrastructure/docker/docker-compose.yml
  src/api/Directory.Packages.props
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.Infrastructure/FamilyHub.Infrastructure.csproj
  src/api/FamilyHub.Infrastructure/Messaging/IRedisSubscriptionPublisher.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisHealthCheck.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisServiceExtensions.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisSettings.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisSubscriptionPublisher.cs
  src/api/FamilyHub.Infrastructure/Messaging/SUBSCRIPTION_EVENTS_INTEGRATION.md
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/SubscriptionEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/INVITATION_SCHEMA.md
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Subscriptions/InvitationSubscriptions.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Presentation/GraphQL/Subscriptions/InvitationSubscriptionsTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RedisSubscriptionPublisherTests.cs
  src/frontend/family-hub-web/tests/e2e/E2E_SUBSCRIPTION_TESTS.md
Due: backend, frontend

feat(frontend): implement invite members step in family creation wizard (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.html
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.scss
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
  src/frontend/family-hub-web/src/app/features/family/models/invite-members-step.models.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.ts
Due: frontend

fix(wizard): add Angular effect to re-render steps on navigation (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.ts
Due: frontend

fix(wizard): move FormArray initialization to constructor for immediate rendering (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.html
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
Due: frontend

fix(wizard): prevent component re-creation on FormArray changes (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.ts
Due: frontend

fix(e2e): use semantic heading selector for step verification (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
Due: frontend

refactor(e2e): replace CSS selectors with semantic selectors (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
Due: frontend

fix(family): remove HTML maxlength to allow Angular validator (#85)
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.html
Due: frontend

fix(family): resolve all E2E test failures - 22/22 passing (#85)
  src/frontend/family-hub-web/e2e/tests/family-invite-members.spec.ts
Due: frontend

fix(family): remove unused ChangeDetectorRef injection (#85)
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
Due: frontend

test(e2e): update GraphQL schema validation snapshots (#74)
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-mutation-fields-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-query-fields-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-deprecations-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-error-types-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-full-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-mutation-fields-chromium-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-query-fields-chromium-linux.json
Due: frontend

feat(frontend): add toast notifications, subscriptions, and confirmation dialog (#85)
  src/frontend/family-hub-web/package-lock.json
  src/frontend/family-hub-web/package.json
  src/frontend/family-hub-web/src/app/app.component.html
  src/frontend/family-hub-web/src/app/app.component.ts
  src/frontend/family-hub-web/src/app/app.config.ts
  src/frontend/family-hub-web/src/app/core/graphql/apollo-config.ts
  src/frontend/family-hub-web/src/app/core/services/toast.service.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family-events.service.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/family-events.service.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/email-preview/email-preview.component.html
  src/frontend/family-hub-web/src/app/shared/components/molecules/email-preview/email-preview.component.scss
  src/frontend/family-hub-web/src/app/shared/components/molecules/email-preview/email-preview.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/email-preview/email-preview.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.html
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.scss
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/toast-container/toast-container.component.html
  src/frontend/family-hub-web/src/app/shared/components/organisms/toast-container/toast-container.component.scss
  src/frontend/family-hub-web/src/app/shared/components/organisms/toast-container/toast-container.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/toast-container/toast-container.component.ts
  src/frontend/family-hub-web/src/environments/environment.prod.ts
  src/frontend/family-hub-web/src/environments/environment.ts
Due: frontend

feat(subscriptions): add GraphQL subscriptions with Redis transport (#84)
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetInvitationByToken/GetInvitationByTokenQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetInvitationByToken/GetInvitationByTokenResult.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryHandlerTests.cs
  src/frontend/family-hub-web/e2e/tests/invitation-acceptance.spec.ts
  src/frontend/family-hub-web/src/app/app.routes.ts
  src/frontend/family-hub-web/src/app/features/auth/components/accept-invitation/accept-invitation.component.ts
  src/frontend/family-hub-web/src/app/features/auth/components/callback/callback.component.ts
Due: backend, frontend

feat(family): add email delivery pipeline for invitation flow (#87)
  src/api/FamilyHub.SharedKernel/Application/Abstractions/IUserLookupService.cs
  src/api/FamilyHub.SharedKernel/Application/Behaviors/ValidationBehavior.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/UserLookupService.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMembers/InviteFamilyMembersCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Commands/InviteFamilyMembers/InviteFamilyMembersCommandValidator.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Handlers/FamilyMemberInvitedEventHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Mutations/InvitationMutations.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Payloads/InviteFamilyMembersDto.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InviteFamilyMembersMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/MailHogClient.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Application/Commands/InviteFamilyMembersCommandHandlerTests.cs
  src/frontend/family-hub-web/e2e/support/email-helpers.ts
  src/frontend/family-hub-web/e2e/support/subscription-helpers.ts
  src/frontend/family-hub-web/e2e/tests/family-creation-wizard.spec.ts
  src/frontend/family-hub-web/e2e/tests/family-creation.spec.ts
  src/frontend/family-hub-web/e2e/tests/invitation-acceptance.spec.ts
  src/frontend/family-hub-web/e2e/tests/invitation-email-verification.spec.ts
  src/frontend/family-hub-web/e2e/tests/subscription-updates.spec.ts
Due: backend, frontend

test(integration): fix all 9 email integration tests (#87)
  src/api/FamilyHub.Infrastructure/Email/Models/InvitationEmailModel.cs
  src/api/FamilyHub.Infrastructure/Email/Templates/InvitationEmail.cshtml
  src/api/FamilyHub.Infrastructure/FamilyHub.Infrastructure.csproj
  src/api/Modules/FamilyHub.Modules.Family/Application/Handlers/FamilyMemberInvitedEventHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Aggregates/FamilyMemberInvitation.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Events/FamilyMemberInvitedEvent.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/MailHogClient.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Email/RazorEmailTemplateServiceTests.cs
Due: backend

fix(frontend): resolve TypeScript compilation errors (#87)
  src/frontend/family-hub-web/src/app/core/graphql/apollo-config.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/email-preview/email-preview.component.html
  src/frontend/family-hub-web/src/app/shared/components/organisms/toast-container/toast-container.component.html
Due: frontend

chore(deps): add cross-fetch for E2E subscription tests (#87)
  src/frontend/family-hub-web/package-lock.json
  src/frontend/family-hub-web/package.json
Due: frontend

fix(e2e): update GraphQL schema snapshots for subscriptions (#87)
  src/frontend/family-hub-web/e2e/support/constants.ts
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-mutation-fields-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-mutation-fields-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-query-fields-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/baseline-query-fields-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-deprecations-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-deprecations-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-error-types-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-error-types-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-full-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-full-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-mutation-fields-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-mutation-fields-webkit-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-query-fields-firefox-linux.json
  src/frontend/family-hub-web/e2e/tests/graphql-schema-validation.spec.ts-snapshots/graphql-schema-query-fields-webkit-linux.json
Due: frontend

refactor(e2e): skip email verification tests, defer to backend integration tests
  src/frontend/family-hub-web/e2e/tests/invitation-email-verification.spec.ts
Due: frontend

feat(subscriptions): add GraphQL subscriptions with Redis transport (#84)
  src/frontend/family-hub-web/e2e/tests/family-creation-wizard.spec.ts
Due: frontend

feat(subscriptions): integrate real-time updates in family management UI (#88)
  src/frontend/family-hub-web/src/app/features/family/pages/family-management/family-management.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
  src/frontend/family-hub-web/src/app/features/family/services/invitation.service.ts
Due: frontend

test(e2e): add subscription cancellation test and comprehensive documentation (#89)
  FINAL_IMPLEMENTATION_SUMMARY.md
  TEST_EXECUTION_FINDINGS.md
  src/frontend/family-hub-web/e2e/reports/subscription-tests-status-2026-01-19.md
  src/frontend/family-hub-web/e2e/tests/subscription-updates.spec.ts
  src/frontend/family-hub-web/tests/e2e/E2E_SUBSCRIPTION_TESTS.md
Due: frontend

test(integration): add Redis subscription integration tests (#90)
  src/api/Directory.Packages.props
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisSubscriptionIntegrationTests.cs
Due: backend

test(integration): add missing error handling tests for Redis subscriptions (#90)
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisSubscriptionIntegrationTests.cs
Due: backend

feat(e2e): implement test mode authentication for API-first testing (#91)
  docs/development/TESTING_WITH_PLAYWRIGHT.md
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.Api/appsettings.Test.json
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Authorization/TestAuthorizationHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Configuration/TestModeSettings.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/HeaderBasedCurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/TestModeServiceRegistration.cs
  src/frontend/family-hub-web/e2e/fixtures/auth.fixture.ts
  src/frontend/family-hub-web/e2e/global-setup.ts
  src/frontend/family-hub-web/e2e/support/api-helpers.ts
  src/frontend/family-hub-web/e2e/support/constants.ts
  src/frontend/family-hub-web/e2e/tests/api-authentication.spec.ts
  src/frontend/family-hub-web/e2e/tests/invitation-email-verification.spec.ts
Due: backend, frontend

docs(e2e): document E2E test strategy with classification and decision matrix (#92)
  FINAL_IMPLEMENTATION_SUMMARY.md
  docs/architecture/ADR-004-PLAYWRIGHT-MIGRATION.md
  docs/development/TESTING_WITH_PLAYWRIGHT.md
Due: none

test(family): fix test infrastructure for family member invites (#81)
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/family-events.service.spec.ts
Due: backend, frontend

fix(frontend): resolve ESLint errors for CI compliance (#81)
  src/frontend/family-hub-web/src/app/core/graphql/apollo-config.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.html
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family-events.service.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/confirm-invites-dialog/confirm-invites-dialog.component.ts
Due: frontend

style: apply dotnet format and fix test selector (#81)
  src/api/FamilyHub.Infrastructure/Email/EmailServiceExtensions.cs
  src/api/FamilyHub.Infrastructure/Email/IEmailService.cs
  src/api/FamilyHub.Infrastructure/Email/RazorEmailTemplateService.cs
  src/api/FamilyHub.Infrastructure/Email/SmtpEmailService.cs
  src/api/FamilyHub.Infrastructure/Email/SmtpHealthCheck.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisHealthCheck.cs
  src/api/FamilyHub.Infrastructure/Messaging/RedisSubscriptionPublisher.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/EmailOutboxId.cs
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/OutboxEventId.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/SubscriptionEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/EmailOutbox.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Infrastructure/BackgroundServices/InvitationEmailService.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/EmailOutboxConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/EmailOutboxRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/IEmailOutboxRepository.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/MailHogClient.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisSubscriptionIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/SmtpEmailServiceIntegrationTests.cs
  src/frontend/family-hub-web/src/app/features/family/components/invite-members-step/invite-members-step.component.spec.ts
Due: backend, frontend

fix(architecture): resolve clean architecture violations in Auth and Family modules
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/DTOs/Subscriptions/ChangeType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/DTOs/Subscriptions/FamilyMemberDto.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/DTOs/Subscriptions/FamilyMembersChangedPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/DTOs/Subscriptions/PendingInvitationDto.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/DTOs/Subscriptions/PendingInvitationsChangedPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/SubscriptionEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Subscriptions/InvitationSubscriptions.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Handlers/FamilyMemberInvitedEventHandler.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Repositories/IEmailOutboxRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Infrastructure/BackgroundServices/InvitationEmailService.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/EmailOutboxRepository.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailServiceIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Persistence/EmailOutboxRepositoryIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisSubscriptionIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Presentation/GraphQL/Subscriptions/InvitationSubscriptionsTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Infrastructure/Messaging/RedisSubscriptionPublisherTests.cs
Due: backend

docs(backlog): mark family member invites features as completed (#81)
  docs/product-strategy/FEATURE_BACKLOG.md
Due: none

feat(agent-os): integrate Agent OS for spec-driven development (#98)
  agent-os/standards/global/tech-stack.md
Due: none

feat(agent-os): add 13 additional skills for development patterns (#98)
  .claude/skills/backend/command-handler.md
  .claude/skills/backend/domain-event.md
  .claude/skills/backend/graphql-query.md
  .claude/skills/backend/repository.md
  .claude/skills/backend/vogen-value-object.md
  .claude/skills/database/entity-config.md
  .claude/skills/database/rls-policy.md
  .claude/skills/frontend/apollo-mutation.md
  .claude/skills/frontend/apollo-query.md
  .claude/skills/frontend/route-guard.md
  .claude/skills/meta/skill-manifest.json
  .claude/skills/testing/component-test.md
  .claude/skills/testing/integration-test.md
  .claude/skills/testing/unit-test.md
Due: none

feat(agent-os): add MCP server standards and skills for Serena and Sequential Thinking (#98)
  .claude/skills/meta/skill-manifest.json
  .claude/skills/tools/memory-context-load.md
  .claude/skills/tools/sequential-planning.md
  .claude/skills/tools/serena-exploration.md
  agent-os/profiles/layers/backend.yaml
  agent-os/standards/index.yml
  agent-os/standards/tools/sequential-thinking.md
  agent-os/standards/tools/serena-memories.md
  agent-os/standards/tools/serena-symbolic-editing.md
  agent-os/standards/tools/serena-symbolic-navigation.md
Due: none

docs(agent-os): add workflow guide for spec-driven development
  docs/agent-os/AGENT_OS_WORKFLOW_GUIDE.md
Due: none

feat(user-profile): create foundational UserProfile module (#102)
  agent-os/profiles/modules/user-profile.yaml
  src/api/FamilyHub.Api/FamilyHub.Api.csproj
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.sln
  src/api/Modules/FamilyHub.Modules.UserProfile/FamilyHub.Modules.UserProfile.csproj
  src/api/Modules/FamilyHub.Modules.UserProfile/GlobalUsings.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/UserProfileDbContext.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/UserProfileDbContextFactory.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/UserProfileModuleServiceRegistration.cs
Due: backend
