Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Apply dotnet format to fix whitespace issues
  src/api/FamilyHub.Infrastructure/GraphQL/Extensions/GraphQLTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/CurrentUserService.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
Due: backend

fix: Add Zitadel test configuration to GraphQLTestFactory
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
Due: backend

fix: Remove backend caching and fix frontend cache path
  .github/workflows/ci.yml
Due: none

fix: Add test Zitadel configuration for integration tests in CI
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Correct factory type in ZitadelOAuthFlowTests
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
Due: backend

fix: Add missing using directive for IHost and IHostBuilder
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Run migrations in CreateHost() instead of constructor
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Add missing Zitadel:Audience to test configuration
  .serena/memories/family-creation-ui-implementation-plan.md
  .serena/project.yml
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/frontend/family-hub-web/PHASE-5-COMPLETION-SUMMARY.md
  src/frontend/family-hub-web/cypress.config.ts
  src/frontend/family-hub-web/cypress/README.md
  src/frontend/family-hub-web/cypress/e2e/family-creation.cy.ts
  src/frontend/family-hub-web/cypress/support/commands.ts
  src/frontend/family-hub-web/cypress/support/e2e.ts
  src/frontend/family-hub-web/src/app/core/services/graphql.service.spec.ts
  src/frontend/family-hub-web/src/app/core/services/graphql.service.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
  src/frontend/family-hub-web/src/app/features/family/components/create-family-modal/create-family-modal.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/create-family-modal/create-family-modal.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/icon/icon.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/icon/icon.component.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/input/input.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/input/input.component.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/modal/modal.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/modal/modal.component.ts
Due: backend, frontend

fix: Use localhost instead of postgres hostname in CI connection string
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Use environment variables for Zitadel test configuration
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Add database connection string to test factories
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Run EF Core migrations automatically in test factories
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: use unique database per test class in CI
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

debug: log assembly loading before migration discovery
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

debug: add comprehensive migration discovery logging
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: regenerate migrations with EF Core 9.0 to match package version
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20251231001021_InitialCreate.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/AuthDbContextModelSnapshot.cs
Due: backend

fix: restore EnsureCreated() before Migrate() to handle database creation
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: Disable npm cache temporarily to unblock frontend CI
  .github/workflows/ci.yml
Due: none

debug: add comprehensive migration diagnostics to both test factories
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: drop schema instead of database for test isolation
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: ensure migrations run only once per test factory instance
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

debug: add diagnostic logging to test factories
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

debug: log pending and applied migrations before Migrate() call
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

debug: Add directory structure check to frontend CI
  .github/workflows/ci.yml
Due: none

debug: write migration diagnostics to log files and dump in CI
  .github/workflows/ci.yml
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: use typeof() for MigrationsAssembly to ensure assembly is loaded
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
Due: backend

fix: Use npm install instead of npm ci to handle peer dependency conflicts
  .github/workflows/ci.yml
  src/frontend/family-hub-web/package-lock.json
Due: frontend

ci: Skip integration tests, focus on unit tests with mocking
  .github/workflows/ci.yml
Due: none

fix: force host creation in test factory constructors to trigger migrations
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: ensure GraphQL tests use unique databases and remove redundant EnsureCreated
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: specify migrations assembly for AuthDbContext to enable EF Core migration discovery
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
Due: backend

fix: create PostgreSQL database manually before running EF Core migrations
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

fix: remove explicit MigrationsAssembly - let EF Core auto-discover
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/AuthDbContextFactory.cs
Due: backend

fix: ensure clean database state for integration tests
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

feat: Implement Testcontainers.NET for integration tests
  .github/workflows/ci.yml
  src/api/Directory.Packages.props
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/MutationHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20251231133507_UpdateAuthModel.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/DatabaseCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Correct npm cache path in frontend CI job
  .github/workflows/ci.yml
Due: none

fix: Add package-lock.json to git and re-enable npm cache
  .github/workflows/ci.yml
  .gitignore
  src/frontend/family-hub-web/package-lock.json
Due: frontend

fix: Remove job-level working-directory to fix npm cache
  .github/workflows/ci.yml
Due: none

refactor smaller changes
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Filters/GraphQLErrorFilter.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/ICurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Behaviors/ValidationBehavior.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetZitadelAuthUrl/GetZitadelAuthUrlQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Constants/FamilyValidationConstants.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Constants/UserRoleConstants.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Extensions/ClaimExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/OAuth/AuthorizationUrlBuilder.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/CurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/UnitOfWork.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mutations/AuthMutations.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CompleteZitadelLoginPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CreateFamilyPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/AuthQueries.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestCurrentUserService.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyTests.cs
  src/frontend/family-hub-web/package-lock.json
  src/frontend/family-hub-web/src/app/core/models/auth.models.ts
  src/frontend/family-hub-web/src/app/core/services/auth.service.ts
  src/frontend/family-hub-web/src/app/core/services/graphql.service.ts
  src/frontend/family-hub-web/src/app/features/auth/components/callback/callback.component.ts
  src/frontend/family-hub-web/src/app/features/auth/components/login/login.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
Due: backend, frontend

fix: Remove obsolete constructor null validation tests
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
Due: backend

Path conditions:
  backend: any of: src/api/
  frontend: any of: src/frontend/
