Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(user-profile): implement event sourcing infrastructure (#104)
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Commands/UpdateUserProfile/UpdateUserProfileCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/EventSourcing/IProfileEventRecorder.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/EventSourcing/IProfileEventReplayService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/EventSourcing/ProfileEventRecorder.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/EventSourcing/ProfileEventReplayService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/EventSourcing/ProfileStateDto.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/EventSourcing/ProfileCreatedEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/EventSourcing/ProfileEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/EventSourcing/ProfileFieldUpdatedEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/EventSourcing/ProfileSnapshotEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Repositories/IProfileEventStore.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Configurations/ProfileEventEntityConfiguration.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Entities/ProfileEventEntity.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Migrations/20260126085516_AddProfileEventsTable.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Migrations/UserProfileDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Repositories/ProfileEventStore.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/UserProfileDbContext.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/UserProfileModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/UserProfileDatabaseCollection.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/UserProfilePostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Integration/UserProfile/Persistence/ProfileEventStoreIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/Services/ProfileEventRecorderTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/Services/ProfileEventReplayServiceTests.cs
Due: backend

feat(user-profile): implement Zitadel bidirectional sync (#105)
  src/api/Directory.Packages.props
  src/api/FamilyHub.SharedKernel/Application/Abstractions/IUserLookupService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/UserLookupService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Events/UserLoggedInEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Abstractions/IZitadelSyncService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Commands/UpdateUserProfile/UpdateUserProfileCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/EventHandlers/UserLoggedInEventHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Aggregates/UserProfile.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Constants/SyncStatusConstants.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/ValueObjects/SyncStatus.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/FamilyHub.Modules.UserProfile.csproj
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/IZitadelManagementApiClient.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/IZitadelTokenProvider.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/ZitadelDtos.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/ZitadelJwtTokenProvider.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/ZitadelManagementApiClient.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Zitadel/ZitadelSyncService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Configurations/UserProfileConfiguration.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Migrations/20260126093254_AddZitadelSyncStatusToProfile.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Persistence/Migrations/UserProfileDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/UserProfileModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/EventHandlers/UserLoggedInEventHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Infrastructure/Zitadel/ZitadelSyncServiceTests.cs
Due: backend

feat(user-profile): implement profile UI with 4 tabs (#106)
  src/frontend/family-hub-web/e2e/tests/profile.spec.ts
  src/frontend/family-hub-web/src/app/app.config.ts
  src/frontend/family-hub-web/src/app/app.routes.ts
  src/frontend/family-hub-web/src/app/core/guards/profile-setup.guard.ts
  src/frontend/family-hub-web/src/app/core/initializers/profile.initializer.ts
  src/frontend/family-hub-web/src/app/features/profile/components/account-security-tab/account-security-tab.component.ts
  src/frontend/family-hub-web/src/app/features/profile/components/personal-info-tab/personal-info-tab.component.ts
  src/frontend/family-hub-web/src/app/features/profile/components/preferences-tab/preferences-tab.component.ts
  src/frontend/family-hub-web/src/app/features/profile/components/privacy-tab/privacy-tab.component.ts
  src/frontend/family-hub-web/src/app/features/profile/components/profile-setup-wizard/profile-setup-wizard.component.ts
  src/frontend/family-hub-web/src/app/features/profile/models/profile.models.ts
  src/frontend/family-hub-web/src/app/features/profile/pages/profile-page/profile-page.component.ts
  src/frontend/family-hub-web/src/app/features/profile/services/profile.service.ts
  src/frontend/family-hub-web/src/app/shared/layout/main-layout/main-layout.component.ts
Due: frontend

feat(user-profile): implement event chain integrations (#108)
  src/api/FamilyHub.SharedKernel/Application/Abstractions/ICacheInvalidationService.cs
  src/api/FamilyHub.SharedKernel/Application/Abstractions/ICalendarService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Abstractions/IProfileEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/EventHandlers/BirthdaySetEventHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/EventHandlers/DisplayNameChangedEventHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/EventHandlers/PreferencesUpdatedEventHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Services/ProfileEventPublisher.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Aggregates/UserProfile.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/BirthdaySetEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/DisplayNameChangedEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Domain/Events/PreferencesUpdatedEvent.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Services/CacheInvalidationService.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Infrastructure/Services/CalendarServiceStub.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/UserProfileModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/EventHandlers/BirthdaySetEventHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/EventHandlers/DisplayNameChangedEventHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/EventHandlers/PreferencesUpdatedEventHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/UserProfile/Application/Services/ProfileEventPublisherTests.cs
Due: backend

refactor(infrastructure): split email models and improve GraphQL types (#101)
  src/api/FamilyHub.Infrastructure/Email/EmailServiceExtensions.cs
  src/api/FamilyHub.Infrastructure/Email/Models/AuthEmailModels.cs
  src/api/FamilyHub.Infrastructure/Email/Models/EmailVerificationModel.cs
  src/api/FamilyHub.Infrastructure/Email/Models/PasswordChangedAlertModel.cs
  src/api/FamilyHub.Infrastructure/Email/Models/PasswordResetCodeModel.cs
  src/api/FamilyHub.Infrastructure/Email/Models/PasswordResetLinkModel.cs
  src/api/FamilyHub.Infrastructure/Email/Models/WelcomeEmailModel.cs
  src/api/FamilyHub.Infrastructure/Email/RazorEmailTemplateService.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Directives/FieldVisibility.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Directives/VisibilityContext.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Directives/VisibleDirective.cs
  src/api/FamilyHub.Infrastructure/GraphQL/Subscriptions/NodeSubscriptionPublisher.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Subscriptions/NodeChangeType.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/Subscriptions/NodeChangedPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IAuthService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/ValueObjects/AuthAuditEventType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/AuthService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/CurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/PasswordService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/TokenService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/AuthAuditLogRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/UnitOfWork.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/EmailOutbox.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Enums/EmailStatus.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/EmailOutboxRepository.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Application/Commands/ApproveProfileChange/ApproveProfileChangeCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Presentation/GraphQL/Types/UserProfileObjectType.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Infrastructure/InvitationEmailServiceIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Family/Persistence/EmailOutboxRepositoryIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/MailHogClient.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/RedisSubscriptionIntegrationTests.cs
Due: backend

feat(graphql): implement user-centric `me` root and health endpoints (#101)
  src/api/FamilyHub.Api/Application/Services/IMeQueryCoordinator.cs
  src/api/FamilyHub.Api/Application/Services/IRoleBasedVisibilityService.cs
  src/api/FamilyHub.Api/Application/Services/MeQueryCoordinator.cs
  src/api/FamilyHub.Api/Application/Services/RoleBasedVisibilityService.cs
  src/api/FamilyHub.Api/GraphQL/Extensions/MeFamilyExtensions.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/HealthQueries.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/HealthQueriesExtensions.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/HealthQueriesType.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/MeQueries.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/MeQueriesExtensions.cs
  src/api/FamilyHub.Api/GraphQL/Namespaces/MeQueriesType.cs
  src/api/FamilyHub.Api/GraphQL/RootQueryExtensions.cs
  src/api/FamilyHub.Api/GraphQL/Subscriptions/MemberLifecyclePayloads.cs
  src/api/FamilyHub.Api/GraphQL/Subscriptions/MemberLifecycleSubscriptions.cs
  src/api/FamilyHub.Api/GraphQL/Types/FamilyOrReasonUnionType.cs
  src/api/FamilyHub.Api/GraphQL/Types/HealthTypes.cs
  src/api/FamilyHub.Api/GraphQL/Types/NoFamilyReasonTypes.cs
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mutations/InvitationMutations.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Namespaces/AccountMutationsExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Namespaces/AuthMutationsExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Namespaces/AuthQueriesType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserObjectType.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Namespaces/FamilyMutationsExtensions.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Types/FamilyRoleType.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Types/InvitationObjectType.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Presentation/GraphQL/Namespaces/ProfileMutationsExtensions.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Presentation/GraphQL/Namespaces/ProfileQueriesType.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Presentation/GraphQL/Types/ProfileChangeRequestObjectType.cs
  src/api/Modules/FamilyHub.Modules.UserProfile/Presentation/GraphQL/Types/UserProfileObjectType.cs
Due: backend

refactor(auth): use Keycloak for authentication only, remove custom JWT claims
  docs/SIMPLE_ARCHITECTURE.md
  src/FamilyHub.Api/Common/Middleware/PostgresRlsMiddleware.cs
  src/FamilyHub.Api/Program.cs
  src/frontend/family-hub-web/src/app/core/auth/auth.models.ts
  src/frontend/family-hub-web/src/app/core/auth/auth.service.ts
Due: frontend

fix(frontend): remove references to familyId and familyRole from components
  src/frontend/family-hub-web/src/app/core/auth/auth.guard.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
Due: frontend

fix(frontend): configure environment file replacement for development
  src/frontend/family-hub-web/angular.json
Due: frontend

feat(ux): add login success notification on dashboard
  src/frontend/family-hub-web/src/app/core/auth/auth.service.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
Due: frontend

fix(frontend): correct router navigation with query params
  .gitignore
  src/FamilyHub.Api/Migrations/20260201212643_InitialCreate.Designer.cs
  src/frontend/family-hub-web/src/app/core/auth/auth.service.ts
Due: frontend

fix(frontend): replace default Angular template with router-outlet
  src/frontend/family-hub-web/src/app/app.html
Due: frontend

fix(backend): fix GraphQL schema configuration
  src/FamilyHub.Api/Program.cs
Due: none

fix(frontend): fix token storage - use snake_case for Keycloak response
  src/frontend/family-hub-web/src/app/core/auth/auth.models.ts
  src/frontend/family-hub-web/src/app/core/auth/auth.service.ts
Due: frontend

refactor(structure): move FamilyHub.sln to src/FamilyHub.Api/
  docs/SIMPLE_ARCHITECTURE.md
  src/FamilyHub.Api/FamilyHub.sln
Due: none

style(code): add braces to all if statements
  src/FamilyHub.Api/Common/Domain/ValueObjects/Email.cs
  src/FamilyHub.Api/Features/Auth/Domain/Entities/User.cs
  src/FamilyHub.Api/Features/Auth/Domain/ValueObjects/ExternalUserId.cs
  src/FamilyHub.Api/Features/Auth/Domain/ValueObjects/UserId.cs
  src/FamilyHub.Api/Features/Auth/Domain/ValueObjects/UserName.cs
  src/FamilyHub.Api/Features/Family/Domain/Entities/Family.cs
  src/FamilyHub.Api/Features/Family/Domain/ValueObjects/FamilyId.cs
  src/FamilyHub.Api/Features/Family/Domain/ValueObjects/FamilyName.cs
Due: none

refactor(family): remove unused classes following YAGNI principle
  src/FamilyHub.Api/Common/Domain/AggregateRoot.cs
  src/FamilyHub.Api/Common/Domain/DomainEvent.cs
  src/FamilyHub.Api/Common/Domain/IDomainEvent.cs
  src/FamilyHub.Api/Common/Infrastructure/Messaging/WolverineCommandBus.cs
  src/FamilyHub.Api/Common/Middleware/PostgresRlsMiddleware.cs
  src/FamilyHub.Api/Features/Auth/Application/Commands/RegisterUserCommand.cs
  src/FamilyHub.Api/Features/Auth/Application/Commands/RegisterUserResult.cs
  src/FamilyHub.Api/Features/Auth/Infrastructure/Repositories/UserRepository.cs
  src/FamilyHub.Api/Features/Family/Application/Commands/AddFamilyMemberCommand.cs
  src/FamilyHub.Api/Features/Family/Application/Commands/CreateFamilyCommand.cs
  src/FamilyHub.Api/Features/Family/Application/Commands/CreateFamilyResult.cs
  src/FamilyHub.Api/Features/Family/Application/EventHandlers/FamilyMemberAddedEventHandler.cs
  src/FamilyHub.Api/Features/Family/Application/EventHandlers/FamilyMemberRemovedEventHandler.cs
  src/FamilyHub.Api/Features/Family/Application/Handlers/AddFamilyMemberCommandHandler.cs
  src/FamilyHub.Api/Features/Family/Application/Handlers/GetFamilyMembersQueryHandler.cs
  src/FamilyHub.Api/Features/Family/Application/Validators/AddFamilyMemberCommandValidator.cs
  src/FamilyHub.Api/Features/Family/Domain/Entities/Family.cs
  src/FamilyHub.Api/Features/Family/Domain/Events/FamilyMemberAddedEvent.cs
  src/FamilyHub.Api/Features/Family/Domain/Events/FamilyMemberRemovedEvent.cs
  src/FamilyHub.Api/Features/Family/Infrastructure/Repositories/FamilyRepository.cs
  src/FamilyHub.Api/Migrations/AddRlsPolicies.Designer.cs
  src/FamilyHub.Api/Migrations/AddRlsPolicies.cs
  src/FamilyHub.Api/Migrations/InitialCreate.Designer.cs
  src/FamilyHub.Api/Migrations/InitialCreate.cs
  src/FamilyHub.Api/Program.cs
  tests/FamilyHub.IntegrationTests/GraphQLApiTests.cs
  tests/FamilyHub.UnitTests/Features/Family/Domain/FamilyAggregateTests.cs
Due: none

remove unneccasary objects
  src/FamilyHub.Api/FamilyHub.Api.csproj
  src/FamilyHub.Api/Features/Family/Application/EventHandlers/FamilyCreatedEventHandler.cs
  src/FamilyHub.Api/Features/Family/Application/Handlers/CreateFamilyCommandHandler.cs
  src/FamilyHub.Api/Features/Family/Domain/Entities/Family.cs
  src/FamilyHub.Api/Features/Family/Domain/Events/FamilyCreatedEvent.cs
  tests/FamilyHub.UnitTests/FamilyHub.UnitTests.csproj
  tests/FamilyHub.UnitTests/Features/Family/Domain/FamilyAggregateTests.cs
Due: none

feat(auth): connect OAuth login to backend with user sync
  agent-os/specs/2026-02-03-1530-oauth-login-keycloak-dashboard/plan.md
  agent-os/specs/2026-02-03-1530-oauth-login-keycloak-dashboard/references.md
  agent-os/specs/2026-02-03-1530-oauth-login-keycloak-dashboard/shape.md
  agent-os/specs/2026-02-03-1530-oauth-login-keycloak-dashboard/standards.md
  src/frontend/family-hub-web/src/app/core/graphql/apollo.config.ts
  src/frontend/family-hub-web/src/app/core/user/user.service.ts
  src/frontend/family-hub-web/src/app/features/auth/callback/callback.component.ts
  src/frontend/family-hub-web/src/app/features/auth/graphql/auth.operations.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
Due: frontend

docs(auth): add E2E tests and Keycloak implementation amendment
  docs/architecture/ADR-002-OAUTH-WITH-ZITADEL.md
  e2e/README.md
  e2e/auth/oauth-complete-flow.spec.ts
Due: none

feat(family): add optional family creation dialog post-login
  agent-os/specs/2026-02-03-1430-family-creation-post-login/plan.md
  agent-os/specs/2026-02-03-1430-family-creation-post-login/references.md
  agent-os/specs/2026-02-03-1430-family-creation-post-login/shape.md
  agent-os/specs/2026-02-03-1430-family-creation-post-login/standards.md
  e2e/family/family-creation-post-login.spec.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
  src/frontend/family-hub-web/src/app/features/family/components/create-family-dialog/create-family-dialog.component.css
  src/frontend/family-hub-web/src/app/features/family/components/create-family-dialog/create-family-dialog.component.html
  src/frontend/family-hub-web/src/app/features/family/components/create-family-dialog/create-family-dialog.component.ts
  src/frontend/family-hub-web/src/app/features/family/graphql/family.operations.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
Due: frontend

fix(frontend): resolve TypeScript errors in Apollo GraphQL config
  src/frontend/family-hub-web/src/app/core/graphql/apollo.config.ts
  src/frontend/family-hub-web/src/app/core/user/user.service.ts
Due: frontend

fix(graphql): correct GraphQL query and mutation names
  src/frontend/family-hub-web/src/app/core/user/user.service.ts
  src/frontend/family-hub-web/src/app/features/auth/graphql/auth.operations.ts
Due: frontend

fix(config): correct API URL in development environment
  src/frontend/family-hub-web/src/environments/environment.development.ts
Due: frontend

fix(graphql): align frontend with actual GraphQL schema
  src/frontend/family-hub-web/src/app/core/graphql/apollo.config.ts
  src/frontend/family-hub-web/src/app/core/user/user.service.ts
  src/frontend/family-hub-web/src/app/features/auth/graphql/auth.operations.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
Due: frontend

fix(auth): prevent empty Authorization header in Apollo requests
  src/frontend/family-hub-web/src/app/core/graphql/apollo.config.ts
Due: frontend

fix(auth): resolve JWT authentication issues with Keycloak
  src/FamilyHub.Api/Common/Middleware/PostgresRlsMiddleware.cs
  src/FamilyHub.Api/Program.cs
  src/FamilyHub.Api/appsettings.json
Due: none

feat(family): implement family creation post-login flow
  src/FamilyHub.Api/Features/Family/Application/Handlers/CreateFamilyCommandHandler.cs
  src/FamilyHub.Api/Features/Family/Domain/Entities/Family.cs
  src/FamilyHub.Api/Features/Family/Domain/Events/FamilyCreatedEvent.cs
  src/FamilyHub.Api/Features/Family/GraphQL/FamilyMutations.cs
  src/frontend/family-hub-web/src/app/features/family/components/create-family-dialog/create-family-dialog.component.html
  src/frontend/family-hub-web/src/app/features/family/graphql/family.operations.ts
Due: frontend

fix(auth): resolve race condition causing family data loss after login
  src/frontend/family-hub-web/src/app/core/auth/auth.service.ts
  src/frontend/family-hub-web/src/app/features/auth/callback/callback.component.ts
  src/frontend/family-hub-web/src/app/features/auth/graphql/auth.operations.ts
Due: frontend

test(family): add unit tests for Family aggregate and CreateFamilyCommandHandler
  tests/FamilyHub.UnitTests/FamilyHub.UnitTests.csproj
  tests/FamilyHub.UnitTests/Features/Family/Application/CreateFamilyCommandHandlerTests.cs
  tests/FamilyHub.UnitTests/Features/Family/Domain/FamilyAggregateTests.cs
Due: none

Path conditions:
  backend: any of: src/api/
  frontend: any of: src/frontend/
