Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - src/api/
  frontend:
    paths:
      - src/frontend/

fix: Regenerate package-lock.json for Angular 21 compatibility
  src/frontend/family-hub-web/package-lock.json
Due: frontend

fix: Apply dotnet format to fix whitespace issues
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetZitadelAuthUrl/GetZitadelAuthUrlQueryHandler.cs
Due: backend

fix: Specify migrations assembly in integration test fixture
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Add MigrationsAssembly to production AuthDbContext configuration
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
Due: backend

debug: Add logging to ApplyMigrationsAsync to diagnose CI failure
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

debug: Add exception-based debug logging to diagnose migration issues
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

debug: Show assembly name and location
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Use migration class directly for MigrationsAssembly configuration
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Remove Respawner and use fresh containers per test class
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Add better diagnostics for migration discovery in CI
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

fix: Use EnsureCreated() instead of migrations for integration tests
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
Due: backend

chore: Temporarily disable integration tests in CI
  .github/workflows/ci.yml
Due: none

fix(frontend): Resolve 31 ESLint errors in Angular components
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
  src/frontend/family-hub-web/src/app/features/family/components/create-family-modal/create-family-modal.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/create-family-modal/create-family-modal.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/icon/icon.component.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/input/input.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/input/input.component.ts
  src/frontend/family-hub-web/src/app/shared/components/molecules/modal/modal.component.ts
Due: frontend

fix(frontend): Resolve TypeScript compilation errors blocking CI
  src/frontend/family-hub-web/src/app/core/services/graphql.service.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/input/input.component.ts
Due: frontend

change step name from angular 18 to angular 21
  .github/workflows/ci.yml
Due: none

fix: resolve integration test database setup and GraphQL schema issues
  src/api/Directory.Packages.props
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.SharedKernel/Presentation/GraphQL/MutationHandler.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestCurrentUserService.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
Due: backend

Fixing errors
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
Due: backend, frontend

refactor(auth)!: streamline GraphQL queries and domain model
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.SharedKernel/Domain/AggregateRoot.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/ICurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/UserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/FamilyHub.Modules.Auth.csproj
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Services/CurrentUserService.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260101214537_AddIsCurrentFamilyToUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102005156_RemoveInvitedByFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102210637_RemoveJoinedAtFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/AuthDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserFamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/FamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Adapters/FamilyOutputAdapter.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Factories/CreateFamilyPayloadFactory.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CompleteZitadelLoginPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/CreateFamilyPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/AuthQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/UserQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserFamilyType.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestCurrentUserService.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyTests.cs
  src/frontend/family-hub-web/src/app/app.component.html
  src/frontend/family-hub-web/src/app/app.component.spec.ts
  src/frontend/family-hub-web/src/app/app.component.ts
  src/frontend/family-hub-web/src/app/features/dashboard/dashboard.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
Due: backend, frontend

refactor(auth): remove IsActive property and deactivation methods from UserFamily
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/UserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102214101_RemoveIsActiveFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/AuthDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserFamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/FamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserFamilyType.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyTests.cs
Due: backend

refactor(persistence): implement automatic timestamp management with EF Core interceptor
  README.md
  docs/architecture/ADR-004-TIMESTAMP-INTERCEPTOR-PATTERN.md
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.Infrastructure/FamilyHub.Infrastructure.csproj
  src/api/FamilyHub.Infrastructure/GraphQL/Types/AuditInfoType.cs
  src/api/FamilyHub.Infrastructure/Persistence/Extensions/DbContextOptionsExtensions.cs
  src/api/FamilyHub.Infrastructure/Persistence/Interceptors/TimestampInterceptor.cs
  src/api/FamilyHub.SharedKernel/Domain/AggregateRoot.cs
  src/api/FamilyHub.SharedKernel/Domain/Entity.cs
  src/api/FamilyHub.SharedKernel/Domain/ISoftDeletable.cs
  src/api/FamilyHub.SharedKernel/Domain/ITimestampable.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Family.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/User.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/UserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20251231133507_UpdateAuthModel.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260101214537_AddIsCurrentFamilyToUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102005156_RemoveInvitedByFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102210637_RemoveJoinedAtFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102214101_RemoveIsActiveFromUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260102232404_InitialCreate_WithTimestampInterceptor.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/AuthDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserFamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Migrations/20260102233739_AddCreatedAtToUserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Adapters/UserAuthenticationAdapter.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Factories/CompleteZitadelLoginPayloadFactory.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserFamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserType.cs
  src/api/tests/FamilyHub.Tests.Integration/FamilyHub.Tests.Integration.csproj
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/TimestampInterceptorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/OAuthIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Builders/FamilyBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Fixtures/FakeTimeProvider.cs
Due: backend

refactor(auth)!: migrate User-Family relationship from many-to-many to one-to-many
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Family.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Repositories/IFamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/User.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/UserFamily.cs
  src/api/Modules/FamilyHub.Modules.Auth/Infrastructure/Extensions/ClaimExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/AuthDbContextModelSnapshot.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/AuthDbContext.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/FamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserFamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Migrations/20260103102414_RefactorUserFamilyToOneToMany.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/FamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Repositories/UserRepository.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Adapters/UserAuthenticationAdapter.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Factories/CompleteZitadelLoginPayloadFactory.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserFamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserTypeExtensions.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestServices.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/TimestampInterceptorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/OAuthIntegrationTests.cs
Due: backend

fix(frontend): prevent access to family wizard after page refresh
  src/frontend/family-hub-web/src/app/app.config.ts
  src/frontend/family-hub-web/src/app/core/guards/family.guard.spec.ts
  src/frontend/family-hub-web/src/app/core/guards/family.guard.ts
  src/frontend/family-hub-web/src/app/core/initializers/family.initializer.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.ts
Due: frontend

Update backlog for invite members in wizard step.
  docs/INDEX.md
  docs/architecture/domain-model-microservices-map.md
  docs/architecture/event-chains-reference.md
  docs/authentication/CHILD-ACCOUNT-SETUP.md
  docs/product-strategy/FEATURE_BACKLOG.md
  docs/product-strategy/implementation-roadmap.md
  docs/ux-design/wireframes.md
Due: none

fix(tests): remove usage of internal EF Core IDbContextPool API
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
Due: backend

style: fix whitespace formatting errors in test files
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
Due: backend

style(frontend): fix ESLint/TypeScript linting errors
  src/frontend/family-hub-web/src/app/core/guards/family.guard.spec.ts
  src/frontend/family-hub-web/src/app/core/guards/family.guard.ts
  src/frontend/family-hub-web/src/app/core/services/auth.service.spec.ts
  src/frontend/family-hub-web/src/app/core/services/role.service.ts
  src/frontend/family-hub-web/src/app/features/family/components/family-name-step/family-name-step.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/components/family-name-step/family-name-step.component.ts
  src/frontend/family-hub-web/src/app/features/family/components/invite-member-modal/invite-member-modal.component.html
  src/frontend/family-hub-web/src/app/features/family/components/invite-member-modal/invite-member-modal.component.ts
  src/frontend/family-hub-web/src/app/features/family/components/pending-invitations/pending-invitations.component.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-management/family-management.component.html
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.spec.ts
  src/frontend/family-hub-web/src/app/features/family/services/invitation.service.ts
  src/frontend/family-hub-web/src/app/shared/components/atoms/progress-bar/progress-bar.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard-example.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.ts
Due: frontend

fix(frontend): migrate templates to Angular 17+ control flow and fix lifecycle warnings
  src/frontend/family-hub-web/src/app/features/family/components/family-members-list/family-members-list.component.html
  src/frontend/family-hub-web/src/app/features/family/components/invite-member-modal/invite-member-modal.component.html
  src/frontend/family-hub-web/src/app/features/family/components/pending-invitations/pending-invitations.component.html
  src/frontend/family-hub-web/src/app/features/family/pages/family-management/family-management.component.html
  src/frontend/family-hub-web/src/app/shared/components/atoms/progress-bar/progress-bar.example.html
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard-example.component.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.spec.ts
Due: frontend

fix(frontend): update tests to match current implementation
  src/frontend/family-hub-web/src/app/core/services/role.service.ts
  src/frontend/family-hub-web/src/app/features/family/components/family-members-list/family-members-list.component.html
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.spec.ts
Due: frontend

fix(frontend): correct GraphQLError constructor usage in tests
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
Due: frontend

fix(frontend): resolve all 62 unit test failures in auth and wizard components
  src/frontend/family-hub-web/src/app/core/services/auth.service.spec.ts
  src/frontend/family-hub-web/src/app/core/services/auth.service.ts
  src/frontend/family-hub-web/src/app/core/services/window-ref.service.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-wizard-page/family-wizard-page.component.spec.ts
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.spec.ts
Due: frontend

fix(frontend): remove unused DebugElement import
  src/frontend/family-hub-web/src/app/shared/components/organisms/wizard/wizard.component.spec.ts
Due: frontend

fix(auth): remove familyId parameter from invitations.pending query
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Adapters/UserAuthenticationAdapter.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Factories/CompleteZitadelLoginPayloadFactory.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/AuthUrlPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Payloads/GetZitadelAuthUrlPayload.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/AuthQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/AuthQueryExtension.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/InvitationQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/InvitationsQueryExtension.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/RolesQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/AuthType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/AuthTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/InvitationsType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/InvitationsTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/ReferenceDataType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserTypeExtensions.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/frontend/family-hub-web/e2e/tests/screenshot-capture.spec.ts
  src/frontend/family-hub-web/e2e/tests/sidebar-layout.spec.ts
  src/frontend/family-hub-web/src/app/core/models/auth.models.ts
  src/frontend/family-hub-web/src/app/core/services/auth.service.spec.ts
  src/frontend/family-hub-web/src/app/core/services/auth.service.ts
  src/frontend/family-hub-web/src/app/core/services/role.service.ts
  src/frontend/family-hub-web/src/app/features/family/components/pending-invitations/pending-invitations.component.ts
  src/frontend/family-hub-web/src/app/features/family/pages/family-management/family-management.component.ts
  src/frontend/family-hub-web/src/app/features/family/services/invitation.service.ts
Due: backend, frontend
