Repository andrekirst/family2: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(auth): migrate validators to FluentValidation best practices
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IValidationCache.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandValidator.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandValidator.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/ValidationCache.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/ValidationCacheTests.cs
Due: backend

style(auth): remove unused logger parameters from GetInvitationByTokenQueryHandlerTests
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryHandlerTests.cs
Due: backend

docs(structure): reorganize implementation documentation into docs folder
  docs/development/implementation-summaries/IMPLEMENTATION_PLAN_EPIC_24.md
  docs/development/implementation-summaries/IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/OUTBOX_PATTERN_FLOW.txt
  docs/development/implementation-summaries/OUTBOX_PATTERN_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_1B_GRAPHQL_SCHEMA_DELIVERABLES.md
  docs/development/implementation-summaries/PHASE_2D_QUARTZ_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_2_IMPLEMENTATION_PROGRESS.md
  docs/development/implementation-summaries/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_2_TYPE_FIXES_SUMMARY.md
  docs/development/implementation-summaries/PHASE_3_ROLES_API_IMPLEMENTATION.md
  docs/development/implementation-summaries/REMAINING_PHASE_2_TASKS.md
  docs/development/quick-start-guides/QUARTZ_QUICK_START.md
Due: none

Security & Quality: Remove familyId parameter, improve validation, and reorganize docs (#30)
  docs/development/implementation-summaries/IMPLEMENTATION_PLAN_EPIC_24.md
  docs/development/implementation-summaries/IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/OUTBOX_PATTERN_FLOW.txt
  docs/development/implementation-summaries/OUTBOX_PATTERN_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_1B_GRAPHQL_SCHEMA_DELIVERABLES.md
  docs/development/implementation-summaries/PHASE_2D_QUARTZ_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_2_IMPLEMENTATION_PROGRESS.md
  docs/development/implementation-summaries/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/development/implementation-summaries/PHASE_2_TYPE_FIXES_SUMMARY.md
  docs/development/implementation-summaries/PHASE_3_ROLES_API_IMPLEMENTATION.md
  docs/development/implementation-summaries/REMAINING_PHASE_2_TASKS.md
  docs/development/quick-start-guides/QUARTZ_QUICK_START.md
Due: none

fix(frontend): correct GraphQL field name for createFamily mutation
  src/frontend/family-hub-web/src/app/features/family/services/family.service.ts
Due: frontend

fix(frontend): correct GraphQL field name for updateInvitationRole mutation
  src/frontend/family-hub-web/src/app/features/family/services/invitation.service.ts
Due: frontend

fix(backend): replace deleted UserAuthenticationAdapter with UserMapper
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
Due: backend

fix(frontend): convert type definitions to interfaces for ESLint compliance
  src/frontend/family-hub-web/src/app/core/models/auth.models.ts
Due: frontend

fix(backend): remove incorrect FamilyId from UserType mapping
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mappers/UserMapper.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mutations/AuthMutations.cs
Due: backend

fix(frontend): update createFamily test mock to use createdFamily field
  src/frontend/family-hub-web/src/app/features/family/services/family.service.spec.ts
Due: frontend

Update documentation for issue handling
  CLAUDE.md
  CONTRIBUTING.md
Due: none

refactor(auth): extract FamilyRole to SharedKernel (#32)
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/FamilyRole.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IUserContext.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommand.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleCommand.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetInvitationByToken/GetInvitationByTokenResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetPendingInvitations/GetPendingInvitationsResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Constants/UserRoleConstants.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Events/FamilyMemberInvitedEvent.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/FamilyMemberInvitation.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/User.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/ValueObjects/UserRole.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260108083513_UseFamilyRoleFromSharedKernel.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Migrations/20260107192250_RemoveObsoleteUsernameCheckConstraint.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mappers/InvitationMapper.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mutations/InvitationMutations.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/InvitationQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/InvitationsTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserRoleType.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Behaviors/AuthorizationBehaviorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetPendingInvitationsQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/ValidationCacheTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyMemberInvitationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/SharedKernel/Domain/ValueObjects/FamilyRoleTests.cs
Due: backend

refactor(auth): extract FamilyRole to SharedKernel (#32) (#38)
  src/api/FamilyHub.SharedKernel/Domain/ValueObjects/FamilyRole.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IUserContext.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommand.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleCommand.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/UpdateInvitationRole/UpdateInvitationRoleResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetInvitationByToken/GetInvitationByTokenResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetPendingInvitations/GetPendingInvitationsResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Constants/UserRoleConstants.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/Events/FamilyMemberInvitedEvent.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/FamilyMemberInvitation.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/User.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/ValueObjects/UserRole.cs
  src/api/Modules/FamilyHub.Modules.Auth/Migrations/20260108083513_UseFamilyRoleFromSharedKernel.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Migrations/20260107192250_RemoveObsoleteUsernameCheckConstraint.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mappers/InvitationMapper.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Mutations/InvitationMutations.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/InvitationQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/InvitationsTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserRoleType.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Behaviors/AuthorizationBehaviorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetPendingInvitationsQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/ValidationCacheTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Domain/FamilyMemberInvitationTests.cs
  src/api/tests/FamilyHub.Tests.Unit/SharedKernel/Domain/ValueObjects/FamilyRoleTests.cs
Due: backend

feat(family): create Family module structure and bootstrap (#33)
  src/api/FamilyHub.Api/FamilyHub.Api.csproj
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.sln
  src/api/Modules/FamilyHub.Modules.Family/FamilyHub.Modules.Family.csproj
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/GlobalUsings.cs
Due: backend

feat(family): create Family module structure and bootstrap (#33) (#39)
  src/api/FamilyHub.Api/FamilyHub.Api.csproj
  src/api/FamilyHub.Api/Program.cs
  src/api/FamilyHub.sln
  src/api/Modules/FamilyHub.Modules.Family/FamilyHub.Modules.Family.csproj
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/GlobalUsings.cs
Due: backend

refactor: remove global:: qualifiers from Family module
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Repositories/IFamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/FamilyRepository.cs
  src/api/tests/FamilyHub.Tests.Unit/Builders/FamilyBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Domain/FamilyTests.cs
Due: backend

feat(tooling): implement comprehensive global usings strategy
  docs/development/CODING_STANDARDS.md
  src/api/FamilyHub.Api/GlobalUsings.cs
  src/api/FamilyHub.Infrastructure/GlobalUsings.cs
  src/api/FamilyHub.SharedKernel/GlobalUsings.cs
  src/api/Modules/FamilyHub.Modules.Auth/GlobalUsings.cs
  src/api/Modules/FamilyHub.Modules.Family/GlobalUsings.cs
  src/api/tests/FamilyHub.Tests.Integration/GlobalUsings.cs
  src/api/tests/FamilyHub.Tests.Unit/GlobalUsings.cs
Due: backend

refactor: replace namespace aliases with fully qualified type names
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetInvitationByToken/GetInvitationByTokenResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetPendingInvitations/GetPendingInvitationsResult.cs
  src/api/Modules/FamilyHub.Modules.Auth/Domain/User.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/AuthDbContext.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/FamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Persistence/Configurations/UserConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyType.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/FamilyTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Types/UserTypeExtensions.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Repositories/IFamilyRepository.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Configurations/FamilyMemberInvitationConfiguration.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/FamilyDbContext.cs
  src/api/Modules/FamilyHub.Modules.Family/Persistence/Repositories/FamilyRepository.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/ZitadelOAuthFlowTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/TimestampInterceptorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetInvitationByTokenQueryValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Queries/GetPendingInvitationsQueryHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/ValidationCacheTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Builders/FamilyBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Family/Domain/FamilyTests.cs
Due: backend

fix: correct fully qualified names after linter changes
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
Due: backend

fix(auth): correct cache key mismatch in AcceptInvitationCommandHandler
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Abstractions/IFamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Services/FamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Aggregates/Family.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Inputs/CreateFamilyInput.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestServices.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
Due: backend

feat(auth): add CacheKeyBuilder for consistent cache keys
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/CacheKeyBuilder.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/CacheKeyBuilderTests.cs
Due: backend

refactor(auth): use CacheKeyBuilder in AcceptInvitationCommand
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IValidationCache.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandValidator.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
Due: backend

docs(development): document CacheKeyBuilder usage pattern
  docs/development/CODING_STANDARDS.md
Due: none

style(family): remove trailing whitespace
  src/api/Modules/FamilyHub.Modules.Family/Domain/Aggregates/Family.cs
Due: backend

fix(auth): resolve cache key mismatch and introduce CacheKeyBuilder pattern (#42)
  docs/development/CODING_STANDARDS.md
  src/api/FamilyHub.Api/Program.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Abstractions/IValidationCache.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/AcceptInvitation/AcceptInvitationCommandValidator.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CompleteZitadelLogin/CompleteZitadelLoginCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/CreateFamily/CreateFamilyCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Commands/InviteFamilyMemberByEmail/InviteFamilyMemberByEmailCommandHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Queries/GetUserFamilies/GetUserFamiliesQueryHandler.cs
  src/api/Modules/FamilyHub.Modules.Auth/Application/Services/CacheKeyBuilder.cs
  src/api/Modules/FamilyHub.Modules.Auth/AuthModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Abstractions/IFamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Application/Services/FamilyService.cs
  src/api/Modules/FamilyHub.Modules.Family/Domain/Aggregates/Family.cs
  src/api/Modules/FamilyHub.Modules.Family/FamilyModuleServiceRegistration.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Inputs/CreateFamilyInput.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/CreateFamilyIntegrationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/AcceptInvitationMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/CreateFamilyMutationTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Auth/GraphQL/InvitationsPendingQueryTests.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/GraphQLTestFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestApplicationFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestDataFactory.cs
  src/api/tests/FamilyHub.Tests.Integration/Helpers/TestServices.cs
  src/api/tests/FamilyHub.Tests.Integration/Infrastructure/PostgreSqlContainerFixture.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Commands/AcceptInvitationCommandValidatorTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/CreateFamilyCommandHandlerTests.cs
  src/api/tests/FamilyHub.Tests.Unit/Auth/Application/Services/CacheKeyBuilderTests.cs
Due: backend

docs(architecture): create ADR-005 Family Module Extraction Pattern (#37)
  docs/INDEX.md
  docs/architecture/ADR-005-FAMILY-MODULE-EXTRACTION-PATTERN.md
Due: none

refactor(auth): remove duplicate GraphQL components from wrong modules (#37)
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Inputs/CreateFamilyInput.cs
Due: backend

docs: update architecture docs to reference ADR-005 (#37)
  CLAUDE.md
  README.md
  docs/architecture/completed-refactorings/ISSUE_35_COMPLETION_SUMMARY.md
  docs/architecture/domain-model-microservices-map.md
Due: none

Clean Up Auth Module and Documentation (#37) (#43)
  CLAUDE.md
  README.md
  docs/INDEX.md
  docs/architecture/ADR-005-FAMILY-MODULE-EXTRACTION-PATTERN.md
  docs/architecture/completed-refactorings/ISSUE_35_COMPLETION_SUMMARY.md
  docs/architecture/domain-model-microservices-map.md
  src/api/Modules/FamilyHub.Modules.Auth/Presentation/GraphQL/Queries/FamilyQueries.cs
  src/api/Modules/FamilyHub.Modules.Family/Presentation/GraphQL/Inputs/CreateFamilyInput.cs
Due: backend

feat(security): implement PostgreSQL Row-Level Security for multi-tenant isolation (#44)
  .serena/memories/phase-0-implementation-plan.md
  ISSUE_44_RLS_IMPLEMENTATION_SUMMARY.md
  docs/testing/RLS_TESTING_GUIDE.md
  infrastructure/docker/postgres/init-scripts/002-enable-rls-policies.sql
  src/api/FamilyHub.Api/Middleware/PostgresContextMiddleware.cs
  src/api/FamilyHub.Api/Program.cs
Due: backend

docs: apply markdown formatting improvements
  CONTRIBUTING.md
  ISSUE_35_COMPLETION_SUMMARY.md
  PHASE3_COMPLETION_NOTES.md
  REFACTORING_ANALYSIS_ISSUE_35.md
  src/api/Modules/FamilyHub.Modules.Family/README.md
Due: backend

chore(quartz): remove obsolete UseMicrosoftDependencyInjectionJobFactory call
  src/api/FamilyHub.Api/Program.cs
Due: backend

chore: backup before .editorconfig implementation
  src/frontend/family-hub-web/.editorconfig.backup
Due: frontend

Path conditions:
  backend: any of: src/api/
  frontend: any of: src/frontend/
